#students{
    display:inline-block;
    padding: 3px;
    font-family: monospace;
    font-size:23px
}

#head{
    display:inline-block;
    background-color: lightcoral;
    color:white;
    padding: 3px;
   font-family: monospace;
   border-radius: 25px;
   font-size: 23px;

}
header{
   
    background-position: 60% 66%;
}


#banner{
    float: right;
   height:75px;

}
hr{
    width:100%;
    color:red;
   
}

header{
    font-size:12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}
#lion{
    width:100%;
    animation: change 3s forwards;
    opacity: 0;
}

@keyframes change {
  from{width:100%;
      
  }
  to{width:2%;
      
  }
}

hr{
    width: 70%;
    margin-left: 0px;


}
.title{
    margin-bottom: 0%;
    color: red;
}
body{
    background-color:#242943;;
}
#uni{
    font-size: 42px;
   margin-left:10% ;
   margin-bottom: 0px;
   height: auto;
  
}

.nav {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
 }
 @keyframes opacity{
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
}

@media only screen and (max-width: 900px) {
    
    .bigger{
        height: 80vh;
    }
}
@media only screen and (min-width: 901px) {
    
.bigger{

   
 height: 50vh;
   
}
}

.bigger{
    width:100vmax;
 
    background-repeat: no-repeat;
    background-position: 50% 15%;
   
  background:linear-gradient(14deg,#D9514EFF,#2A2B2DFF,#2DA8D8FF);
  margin: 10px;
  padding: 0px;
}
.section{
    width:100%;
    height:100%;
   
}

.ol{
    width:100%;
    margin-left: 14%;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.content{
    line-height: 30px;
}

h3{
    margin-left: 0;
    margin-top: 25px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    font-size: 27px;
    color:white;
}
.margin{
    margin-left: 8%;
}
h4{
    margin-left: 0;
    margin-top: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    font-size: 32px;
    color:darkorange;
}
li{
    
 
    animation: rainbow 6s infinite;
    filter: brightness(120%);
    
}
@keyframes rainbow{
    0%{
        color:aqua
    }
    25%{
        color:aqua
    }
    42%{
        color:aliceblue
    }

    50%{
       color:aquamarine;
    }
    75%{
        color:cyan
    }
    87%{
        color:darkcyan
    }
    100%{
        color:cadetblue;
    }
}
.write{
    margin-left: 10%;
    color:white;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    width: 80%;
    line-height: 27px;

}
h5{
    font-size: 22px;
    color:cornflowerblue;
    animation: itsgone 5s infinite;
    text-decoration: none;
 
   
}
a{
    text-decoration: none;
}
h5:hover{
    color: black;
    transition: 2s;
    
}


.align{
text-align: center;
}
@keyframes itsgone {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(150px);

    }
    50%{
        transform: translateX(260px);
    }
    75%{
        transform: translateX(150px);
    }
    100%{
        transform: translateX(0);
    }
}
