

  body {
   margin:0;
   animation: move 2s forwards;
   
  }
  .section{
      display: flex;
      margin: 0;
  }

  @keyframes move {
      from{
          transform: translateY(-1000px);

      }
      to{
          transform: translateY(0);
      }
  }
  .tile{
   
      background: url(../assets/sports.jpeg);
      width:25%;
      height: 100vh;
      background-size: cover;
      background-position: 65%,0%;
      border-width: 5px;
      padding:3px;
      filter:blur(10px)
      
  }
  .tile1{
    background: url(../assets/basketball.jpg);
    width:25%;
    height: 100vh;
    background-size: cover;
    background-position: 50%,0%;
    border-style: solid;
    border-width: 5px;
    filter:blur(10px)
  }
  .tile2{
    background: url(../assets/wrestling.jpg);
    width:25%;
    height: 100vh;
    background-size: cover;
    background-position: 68%,0%;
    border-style: solid;
    border-width: 5px;
    filter:blur(10px)
  }
  .tile3{
    background: url(../assets/Afootball.jpg);
    width:25%;
    height: 100vh;
    background-size: cover;
    background-position: 50%,0%;
    border-style: solid;
    border-width: 5px;
    filter:blur(10px)
  }



  .tile:hover, .tile2:hover, .tile1:hover, .tile3:hover{
      filter:blur(0px);
      transform: scale(1.2);
      transition:2s;
      z-index: 1;


  }
  .headings{
      z-index: 2;
      text-align: center;
      margin-top: 70%;
      color:red;
      font-family:'Times New Roman', serif;
      font-size: 32px;
      text-decoration:underline;
      padding:2px;
      letter-spacing: 7px;
      font-weight: 900;
   
  }

  .content{
    width:100%;
    height:100%;
    
}

ol,ul{
    width:75%;
    margin-left: 8%;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
p{
    width:90%;
    margin-left: 8%;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}
body{
    background-color:slategray;
}

#students{
    display:inline-block;
    padding: 3px;
    font-family: monospace;
    font-size: 25px;
}
#head{
    display:inline-block;
    background-color: lightcoral;
    color:white;
    padding: 3px;
   font-family: monospace;
   border-radius: 25px;
   font-size: 26px;

}

#head:hover{
    color:darkred;
   
    transition: .5s;
}

header{
   
    background-position: 60% 66%;
}

#banner{
    float: right;
   height:75px;

}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-style: italic;
    padding: 23px;
    font-size: 32px;

}

nav {
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 50%;
 }

.content{
    display: flex;
}
img{
    width: 5%;
    z-index: 3;
}
.football{
    width: 90%;
}
a{
    text-decoration: none;
    width: 25%;
}
.end{
    width: 100vmax;
    height: 30vh;
    margin: 0;
}
@media  screen and (max-width:880px) {
    .section{
        display: block;

    }
    p{
        font-size: 12px;
    }
    .tile,.tile1,.tile2,.tile3{
        width: 100%;
    }
}